body {
  margin-left: 70px;
  margin-top: 50px;
}

img {
  width: 100%;
}

/*header*/
#main-header {
  margin-bottom: 9rem;
}

#logo img {
  width: 210px;
}

#site-title {
  margin-bottom: 0;
}

#site-title a {
  text-decoration: none;
  color: #1a1a1a;
  font-size: 1.8rem;
  font-family: sans-serif;
  font-weight: bold;
}

#site-title a:hover {
  color: #dc6520;
}

#about-site {
  color: grey;
  font-size: 17px;
  padding-top: 0px;
}

#header-image-container img {
  width: 100%;
}

#about-title {
  margin-bottom: 50px;
}

/*CONTENT*/
#content {
  margin-top: 80px;
}

/*main*/

main {
  width: 70%;
  display: inline-block;
}

#blog-header {
  margin-bottom: 50px;
}

#blog-header h1 {
  font-size: 3.2rem;
  color: #13222c;
  font-family: sans-serif;
}

/*Author Section*/

#author-container {
  display: inline-block;
  width: 29%;
  margin-bottom: 30px;
  vertical-align: top;
  font-family: sans-serif;
  font-size: 1rem;
}

#author-img {
  /* display: block; */
  max-width: 60px;
  border-radius: 50%;
  margin-right: 1rem;
  margin-bottom: 1rem;
  vertical-align: middle;
}

#author-name {
  display: block;
  margin-bottom: 1rem;
}

#author-container .slash {
  display: none;
}

#author-container a {
  color: #3c5349;
  text-decoration: none;
}

#author-container a:hover {
  color: #dc6520;
  text-decoration: underline;
}

/*Views*/

#views {
  margin-bottom: 3px;
}

#views img {
  margin-left: 2px;
  width: 18px;
  margin-bottom: -2px;
}

#views span {
  font-size: 1rem;
  font-family: sans-serif;
}

/*Blog Content*/

#blog-content {
  display: inline-block;
  font-size: 1.1rem;
  word-spacing: 1px;
  line-height: 1.4;
  width: 70%;
}

/*Aside*/

aside {
  display: inline-block;
  vertical-align: top;
  margin-left: 3%;
  width: 25%;
}

.widget {
  border-top: 4px solid black;
  margin-top: 3.5rem;
  line-height: 1.5;
  font-size: 1.1rem;
}

.widget input {
  display: block;
  width: 90%;
  margin-bottom: 15px;
  padding: 4px 10px;
  border: 1px solid #d1d1d1;
  border-radius: 2px;
  color: #686868;
  line-height: 1.6;
  font-size: 1.05rem;
}

.widget-title {
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: 760;
}

button[type="submit"] {
  background-color: #1a1a1a;
  color: #fff;
  font-size: 0.9rem;
  border: none;
  border-radius: 4px;
  padding: 12px 18px;
  letter-spacing: 0.1rem;
  line-height: 1;
  transition: background-color 0.1s ease-in;
}

button[type="submit"]:hover {
  background-color: #dc6520;
}

#subscription .sub-btn {
  margin: 10px 0 0;
}

#search form {
  display: flex;
  margin-top: 30px;
  margin-bottom: 70px;
}

#search form input {
  display: inline;
  width: 80%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: 0;
}

#search button {
  padding-left: 9px;
  padding-right: 9px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#search button img {
  width: 20px;
  vertical-align: middle;
}

.widget li {
  line-height: 1.5rem;
}

.widget a {
  color: #dc6520;
  text-decoration: none;
  font-size: 19px;
}

.widget a:hover {
  color: #1a1a1a;
}

#recent-posts li,
#recent-comments li {
  margin-bottom: 0.4rem;
}

#recent-comments .name {
  text-transform: uppercase;
  font-size: 1rem;
}

#categories li {
  line-height: 1.9rem;
}

/*Social*/

#social {
  position: fixed;
  top: 25%;
  left: 0;
  line-height: 1;
}

#social .social-btn {
  display: block;
  padding: 14px 13px;
}

#social .social-img {
  width: 19px;
}

#facebook {
  background-color: #3b5998;
}

#facebook:hover {
  background-color: #2d4373;
}

#linkedin {
  background-color: #0077b5;
}

#linkedin:hover {
  background-color: #00121c;
}

#twitter {
  background-color: #83c3f3;
}

#twitter:hover {
  background-color: #55acee;
}

#gmail {
  background-color: #dd4b39;
}

#gmail:hover {
  background-color: #c23321;
}

#whatsapp {
  background-color: #6ba92f;
}

#whatsapp:hover {
  background-color: #528124;
}

#mail {
  background-color: #ed4926;
}

#mail:hover {
  background-color: #cf3311;
}